@media screen and (min-width:768px) and (max-width:991px){
    /* @media screen and (max-width:991px){ */
        /* #home .home_overlay .formal{
        position: relative;
        background: purple;
    }
    #home .home_overlay .formal .formal_image {
        position: absolute;
        left: 0;
        top: 12%;
    } */
    }